body {
   display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}
img {
    display: grid;
    grid-template-columns: 1/2;
    grid-template-rows: 1/2;
    justify-items: center;
}
p {
    display: grid;
    grid-template-columns: 2/3;
    grid-template-rows: 2/3;
}