@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Roboto+Serif:opsz,wght@8..144,300&family=Young+Serif&display=swap');
/* header and footer css */
#content {
    max-width: 1400px;
    margin: 0 auto;
}
header {
    background-color: #0C7489;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
nav a {
    color: white;
    text-decoration: none;
    padding: 35px;
    font-size: 60px;
    font-family: "Amiri";
}
.logo {
    width: 200px;
    padding: 35px;
    grid-column: 1/2;
    grid-row: 1/2;
}
nav {
    display: flex;
    justify-content: space-around;
    grid-column: 2/4;
    grid-row: 1/2;
    align-items: center;
    font-size: 35px;
}
body {
   background-color: lightgrey;
   font-family:  Roboto Serif, Young Serif;
   font-size: 22px;
   margin: 0;
   padding: 0;
}
nav a:hover {
    background-color: #51E5FF;
    color: black;
}
footer {
   color: white;
   background-color: #0C7489;
   padding: 25px 50px;
   margin-top: 200px;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
footer a {
    color: white;
    text-decoration: none;
 }
 footer a:hover {
    background-color: #C2E812;
    color: black;
 }
 footer p {
    font-size: 1.2em;
 }
 footer p a:hover{
    text-decoration: underline;
 }
 .sitelink {
   padding: 35px;
 }
 .aboutuslink {
   padding: 35px;
 }
 footer .social img {
    padding-top: 20px;
 }
 .home-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
 }
 .menu-card {
    grid-column: 2/4;
    grid-row: 2/3;
    margin: auto;
    text-align: left;
    background-color: #51E5FF;
    line-height: 2em;
    padding: 50px;
 }
 .review-card {
    grid-column: 1/3;
    grid-row: 3/4;
    margin: auto;
    text-align: left;
    background-color: #51E5FF;
    line-height: 2em;
    padding: 35px;
 }
 .team-card {
    grid-column: 2/4;
    grid-row: 4/5;
    margin: auto;
    text-align: left;
    background-color: #51E5FF;
    line-height: 2em;
    padding: 50px;
 }
 .onlineorder-card {
    grid-column: 1/3;
    grid-row: 5/6;
    margin: auto;
    text-align: left;
    background-color: #51E5FF;
    line-height: 2em;
    padding: 35px;
 } 
 .top1-img:hover, .top2-img:hover, .top3-img:hover {
   transform: scale(1.1);
 }
 .top1-img, .top2-img, .top3-img {
   border: 10px;
   transition: transform .5s;
   box-shadow: 5px 5px 10px #6f7364;
 }
 .top1-img {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 90%;
    margin: 50px 0;
    padding: 30px;
    background-color: #FF31A2;
 }
 .top2-img {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 90%;
    margin: 50px 0;
    padding: 30px;
    background-color: #FF31A2;
 }
 .top3-img {
    grid-column: 3/4;
    grid-row: 1/2;
    width: 90%;
    margin: 50px 0;
    padding: 30px;
    background-color: #FF31A2;
 }
 .menuhome-img {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;
    ;
    margin: 50px 0;
    padding: 35px;
 }
 .pg1review-img {
    grid-column: 3/4;
    grid-row: 3/4;
    width: 100%;
    margin: 50px 0;
    padding: 35px;
 }
 .joinourteam-img {
    grid-column: 1/2;
    grid-row: 4/5;
    width: 100%;
    margin: 50px 0;
    padding: 35px;
 }
 .homeorderonline-img {
    grid-column: 3/4;
    grid-row: 5/6;
    width: 100%;
    margin: 50px 0;
    padding: 35px;
 }
 /* css for menu page */
 #hero {
   display: grid;
   grid-template-columns: 1fr 3fr 1fr;
   margin-top: -100px;
}
#hero-box {
   grid-column: 1/4;
   grid-row: 1/3;
   z-index: -1;
   width: 100%;
}
#hero-msg {
   grid-column: 2/3;
   grid-row: 1/2;
   margin-top: 100px;
}
#menu-hero-img {
   width: 100%;
}
.menu-title {
   color: #51E5FF;
   font-family: 'Amiri';
   font-size: 10em;
   background-color: grey;
   border-radius: 200px;
   text-align: center;
}
.menu-grid {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   justify-items: center;
}
.maple {
   grid-column: 1/2;
   grid-row: 2/3;
   width: 100%;
   margin: 50px 0;
   padding: 30px;
   background-color: lightgray;
   
}
.chocolate {
   grid-column: 2/3;
   grid-row: 2/3;
   width: 100%;
   margin: 50px 0;
   padding: 30px;
   background-color: lightgray;
}
.strawberry {
   grid-column: 3/4;
   grid-row: 2/3;
   width: 100%;
   margin: 50px 0;
   padding: 30px;
   background-color: lightgray;
}
.glaze {
   grid-column: 4/5;
   grid-row: 2/3;
   width: 100%;
   margin: 50px 0;
   padding: 30px;
   background-color: lightgray;
}
.bacon {
   grid-column: 4/5;
   grid-row: 3/4;
   width: 100%;
   padding: 35px;
}
.rewards {
   grid-column: 4/5;
   grid-row: 4/5;
   width: 100%;
   padding: 35px;
}
.onlineorder {
   grid-column: 4/5;
   grid-row: 5/6;
   width: 100%;
   padding: 35px;
}
.classicdonuts-card {
   grid-column: 1/4;
   grid-row: 1/2;
   padding: 35px;
   background-color: #51E5FF;
   text-align: left;
   line-height: 2em;
   margin: auto;
}
.monthlyspecials-card {
   grid-column: 1/4;
   grid-row: 4/5;
   padding: 35px;
   background-color: #51E5FF;
   text-align: left;
   line-height: 2em;
   margin: auto;
}
.rewardsprogram-card {
   grid-column: 1/4;
   grid-row: 3/4;
   padding: 35px;
   background-color: #51E5FF;
   text-align: left;
   line-height: 2em;
   margin: auto;
}
.onlineordermenu-card {
   grid-column: 1/4;
   grid-row: 5/6;
   padding: 35px;
   background-color: #51E5FF;
   text-align: left;
   line-height: 2em;
   margin: 35px;
   margin-left: 35px;
}
/* css for the about us page */
#heroaboutus {
   display: grid;
   grid-template-columns: 1fr 3fr 1fr;
   margin-top: -100px;
   padding: 15px;
}
#hero-box {
   grid-column: 1/4;
   grid-row: 1/3;
   z-index: -1;
   width: 100%;
}
#hero-msg {
   grid-column: 2/3;
   grid-row: 1/2;
   margin-top: 100px;
}
#aboutushero-img {
   width: 100%;
}
.aboutus-title {
   color: #51E5FF;
   font-family: 'Amiri';
   font-size: 10em;
   background-color: grey;
   border-radius: 200px;
   text-align: center;
}
.aboutus-grid {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}
.aboutusimage {
   grid-column: 3/4;
   grid-row: 1/2;
   width: 100%;
   margin: 50px 0;
   padding: 30px;
}
.comminvolvementimage {
   grid-column: 1/2;
   grid-row: 2/3;
   width: 100%;
   margin: 50px 0;
   
}
.aboutus1 {
   grid-column: 1/2;
   grid-row: 3/4;
   width: 100%;
   margin: 50px 0;
   padding: 30px;
   background-color: #51E5FF;
}
.aboutus2 {
   grid-column: 2/3;
   grid-row: 3/4;
   width: 100%;
   margin: 50px 0;
   padding: 30px;
   background-color: #51E5FF;
}
.aboutus3 {
   grid-column: 3/4;
   grid-row: 3/4;
   width: 100%;
   margin: 50px 0;
   padding: 30px;
   background-color: #51E5FF;
}
.aboutus-card {
   grid-column: 1/3;
   grid-row: 1/2;
   padding: 35px;
   background-color: #51E5FF;
   text-align: left;
   line-height: 2em;
   margin: auto;
   
}
.communityinvolvement-card {
   grid-column: 2/4;
   grid-row: 2/3;
   margin: 35px;
   background-color: #51E5FF;
   text-align: left;
   line-height: 2em;
   margin-left: 30px;
   padding: 35px;
}