@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Roboto+Serif:opsz,wght@8..144,300&family=Young+Serif&display=swap');
/* header and footer css */
div {
    max-width: 1600px;
    margin: 0 auto;
}
header {
    background-color: #0C7489;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
nav a {
    color: white;
    text-decoration: none;
    padding: 35px;
    font-size: 60px;
    font-family: "Amiri";
}
.logo {
    width: 200px;
    padding: 35px;
    grid-column: 1/2;
    grid-row: 1/2;
}
nav {
    display: flex;
    justify-content: space-around;
    grid-column: 2/4;
    grid-row: 1/2;
    align-items: center;
    font-size: 35px;
}
body {
   background-color: lightgrey;
   font-family:  Roboto Serif, Young Serif;
   font-size: 22px;
   margin: 0;
   padding: 0;
}
nav a:hover {
    background-color: #51E5FF;
    color: black;
}
footer {
   background-color: #0C7489;
   padding: 25px 50px;
   margin-top: 200px;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
footer a {
    background-color: #51E5FF;
    color: black;
    text-decoration: none;
 }
 footer a:hover {
    background-color: #C2E812;
    color: black;
 }
 footer p {
    font-size: 1.2em;
 }
 footer p a:hover{
    text-decoration: underline;
 }
 footer .social img {
    padding-top: 15px;
 }
 .home-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
 }
 .menu-card {
    grid-column: 2/4;
    grid-row: 2/3;
    margin: auto;
    text-align: left;
    background-color: #51E5FF;
    line-height: 1.5em;
    padding: 35px;
 }
 .review-card {
    grid-column: 1/3;
    grid-row: 3/4;
    margin: auto;
    text-align: left;
    background-color: #51E5FF;
    line-height: 1.5em;
    padding: 35px;
 }
 .team-card {
    grid-column: 2/4;
    grid-row: 4/5;
    margin: auto;
    text-align: left;
    background-color: #51E5FF;
    line-height: 1.5em;
    padding: 35px;
 }
 .onlineorder-card {
    grid-column: 1/3;
    grid-row: 5/6;
       margin: auto;
    text-align: left;
    background-color: #51E5FF;
    line-height: 1.5em;
    padding: 35px;
 } 
 .top1-img {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 90%;
    margin: 50px 0;
    padding: 30px;
    background-color: #FF31A2;
 }
 .top2-img {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 90%;
    margin: 50px 0;
    padding: 30px;
    background-color: #FF31A2;
 }
 .top3-img {
    grid-column: 3/4;
    grid-row: 1/2;
    width: 90%;
    margin: 50px 0;
    padding: 30px;
    background-color: #FF31A2;
 }
 .menuhome-img {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;
    margin: 50px 0;
    padding: 35px;
 }
 .pg1review-img {
    grid-column: 3/4;
    grid-row: 3/4;
    width: 100%;
    margin: 50px 0;
    padding: 35px;
 }
 .joinourteam-img {
    grid-column: 1/2;
    grid-row: 4/5;
    width: 100%;
    margin: 50px 0;
    padding: 35px;
 }
 .homeorderonline-img {
    grid-column: 3/4;
    grid-row: 5/6;
    width: 100%;
    margin: 50px 0;
    padding: 35px;
 }